<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="form">
        <h1>Registered Users</h1>
        <% if can? :create, User %>
          <%= link_to 'Add User', new_user_path, class: "btn btn-primary" %>
        <% end %>
          <% @users.each do |user| %>
            <div class="user">
              <p><strong>First Name: </strong>
              <%= user.first_name %><br>
              <strong>Last Name: </strong>
              <%= user.last_name %><br>
              <strong>Email address: </strong>
              <%= user.email %><br>
              <strong>Password: </strong>
              <%= "*"*15 %><br>
              <strong>Access level: </strong>
              <% if user.admin %>
                <%= "Admin" %>
              <% else %>
                <%= "Customer" %>
              <% end %>
              </p>
              <%= link_to 'Show', user %>  
              <%= link_to 'Edit', edit_user_path(user) %>  
              <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

