<!DOCTYPE html>
<html>
<head>
	
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rusty Bikes</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>

</head>
<body>
<div class="wrapper">
  <header id="main-navigation" class="clearfix">
    <%= link_to 'Rusty Bikes', root_path, class: 'name' %>
    <nav>
        <div id="search_box" class="form-group">
          <%= form_tag("/products", method: "get") do %>
            <%= text_field_tag :q, nil, class:"text-field" %>
            <%= button_tag nil, type: "submit", class:"nav-button" do %>
            <span class="glyphicon glyphicon-search"></span>
            <% end %>
          <% end %>
        </div>
      <%= link_to 'Home', root_path, class: "hidden-sm hidden-xs" %>
      <%= link_to 'Products', products_path, class: "hidden-sm hidden-xs" %>
      <%= link_to 'Featured', featured_path, class: "hidden-sm hidden-xs" %>
      <%= link_to 'About', about_path, class: "hidden-sm hidden-xs" %>
      <%= link_to 'Contact', contact_path, class: "hidden-sm hidden-xs" %>
      <div class="dropdown visible-sm visible-xs">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Menu
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Products', products_path %></li>
          <li><%= link_to 'Featured', featured_path %></li>
          <li><%= link_to 'About', about_path %></li>
          <li><%= link_to 'Contact', contact_path %></li>
        </ul>
      </div>
    </nav>
  </header>
  <% if !current_page?(root_path) %>
    <p class="previous_page"><%= link_to "Previous page", request.referer.present? ? request.referer : root_path  %></p>
  <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
		<%= yield %>
    <div class="push"></div>
</div> <!-- /wrapper -->
<footer>
    <p class="copyright">&copy; 2016 Mariusz Borowiak</p>
</footer>
</body>
</html>
